/* GENERAL */
html,body{
	width: 100%;
	margin:0;
	padding: 0;
	user-select: none;
 	font-family: 'Raleway', sans-serif;
}

/* HEADER */

header{
	margin:4px 30px 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height:7em;
}

header img{
	width:125px;
}

nav{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

nav ul{
	display: flex;
 	list-style-type: none;
 	font-size: 1em;
}

nav li + li{
    padding-left: 60px;
}

nav a{
	font-weight: bold;
    color: #606061;
    padding-top: 3em;
    padding-bottom: 3em;
    text-decoration: none;
}

nav ul a:hover
{
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

a#login{
	margin-left: 60px;
    color: #0065FC;
}

a#login:hover{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

/* FOOTER */
footer{
	width: 100%;
	background-color: #F2F2F2; /*gris #DEEBFF:bleu clair #0065FC:bleu; */
	display: flex;
	justify-content: space-around;
	margin-top: 30px;	
}

footer div{
	flex-basis: 0;
	padding: 30px;
	flex:1;
}

footer h3{
	padding-bottom: 15px;
	white-space: nowrap;
	margin: 0;
}

footer ul{
	white-space: nowrap;
 	list-style-type: none;
 	padding:0;
 	margin:0;
}

footer li + li{
	padding-top: 10px;
}


footer a{
    text-decoration: none;
    color:black;
}

/* CONTENT GENERAL */

#content h1{
	margin-bottom: 5px;
	font-size: 1.6em;
}

#content{
	margin:0 30px 0 30px;
/*	margin-right: 30px;
	margin-left: 30px;
	width: 100%;
	*/
}

/*SEARCHBAR*/

#searchBar{
	margin-bottom: 30px;
}

#searchBar form {
	margin-top : 30px ;
}

#searchIcon {
	display: flex;
}

.fa-map-marker-alt {
	font-size: 0.7em;
	background-color: #F2F2F2;
	border-radius: 10px 0 0 10px;
	padding:1em;
	display: inline-block;
}

.fa-map-marker-alt:hover {
 	background-color: #DEEBFF;
}

 input{
   	font-family: 'Raleway', sans-serif;
	border:none;
	padding: 0 10px 0 10px;
}

 input[type="text"]{
	border-top:1px #F2F2F2 solid;
	border-bottom:1px #F2F2F2 solid;
	height: 2.2em;
}

 input[type="button"]{
 	background-color: #0065FC;
 	border-radius: 0 10px 10px 0; 	
 	font-weight: bold;
 	color:white;
	height: 2.3em;
	cursor:pointer;
}

 input[type="button"]:hover{
 	border-right-style: outset;
 	border-bottom-style: outset;
}


#filters{
	display: flex;
	margin:30px 0 30px 0;
	align-items: center;
}

#filters h3{
	padding-right: 30px;
	margin: 0;
}

#filters form {
	display: flex;
	margin:auto 0 ;
}


[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.filterSelector label{
	white-space:nowrap;
	font-weight: bold;
	cursor:pointer;
	display: block;
	border:2px #F2F2F2 solid;
	border-radius: 2em ;
/*	padding:   1em 0  1em 0;*/
	margin:0 30px 0 0;
	position: relative;
}

.filterSelector label[for="Economique"]:before,
input#Economique:checked + label[for="Economique"]:after {
    font-family: 'FontAwesome';
	color: #0065FC;
	content: "\f53b";
	position: relative;
	background: #DEEBFF;
	border:4px solid #DEEBFF;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.filterSelector label[for="Familial"]:before,
input#Familial:checked + label[for="Familial"]:after {
    font-family: 'FontAwesome';
	color: #0065FC;
	content: "\f1ae";
	position: relative;
	background: #DEEBFF;
	border:4px solid #DEEBFF;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.filterSelector label[for="Romantique"]:before,
input#Romantique:checked + label[for="Romantique"]:after {
    font-family: 'FontAwesome';
	color: #0065FC;
	content: "\f004";
	position: relative;
	background: #DEEBFF;
	border:4px solid #DEEBFF;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.filterSelector label[for="Animaux"]:before,
input#Animaux:checked + label[for="Animaux"]:after {
    font-family: 'FontAwesome';
	color: #0065FC;
	content: "\f6d3";
	position: relative;
	background: #DEEBFF;
	border:4px solid #DEEBFF;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 30px;
	height: 30px;
}

.filterSelector label:before{
	margin-right:0.5em;	
}

.filterSelector label:after {
	margin-left: 0.5em;
	color: transparent;
  	content: "";
	position: relative;
	border:2px solid transparent;
}

input:checked + label:after {
	margin-left: 0.5em;
}

input:checked + label {
	background: #0065FC;
	border:2px  #0065FC solid;
}

input#Animaux:checked + label[for="Animaux"]:before,
input#Romantique:checked + label[for="Romantique"]:before,
input#Economique:checked + label[for="Economique"]:before,
input#Familial:checked + label[for="Familial"]:before {
	background:transparent;
	color: transparent;
	border:2px solid transparent;
  	content: "";
	position: relative;
	display: inline;
	border-radius: 0;
}

label:hover{
	background-color: #F2F2F2;
}


#infosResults:before{
	color:#0065FC;
	border-radius: 50%;
	border:1px #606061 solid ; 
	margin-right: 10px;
    font-family: 'FontAwesome';
	content: "\f129";
	display: inline-block;
	line-height: 30px;
	height: 30px;width: 30px;
	font-size: 0.8em;
	text-align: center;
}

#infosResults{
	line-height: 30px;
	vertical-align: center;
}

/* CONTENT RESULTS */

h2,#more{
	padding: 30px 0 30px 0;
	margin:0;
}

#resultsSearch {
	display: flex;
	flex-direction: column;
}

#resultsSearch a {
    text-decoration: none;
    color:black;
  }

#resultsSearchHotels{
	display: flex;
	flex-basis: 0;
}

#resultsSearchHotels > * {
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	border-radius: 10px;
	padding:0 30px 0 30px;
}

#resultsSearchHotels section {
	flex:2;
	margin-right: 30px;
}


#resultsSearchHotels section > div {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows:  1fr ;
}

.hotel, .activity{
	height: 300px;
	background-color: white;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.1); 
	border-radius: 15px;
	border : 6px white solid;
}

.hotel img{
    display: block;
	border-radius: 10px 10px 0  0;
	object-fit: cover;
    height: 65%;
	width: 100%;
}

#more {
	font-weight: bold;
}


.rating {
  padding:5px 0 5px 0  ;
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 1.5em;
  width: max-content;
  margin:auto;
  position: relative;
} 
.rating::before { 
  content: '★★★★★';
}

[title="0"]::after {
  width: 0%;
}
[title="1"]::after {
  width: 20%;
}
[title="2"]::after {
  width: 40%;
}
[title="3"]::after {
  width: 60%;
}
[title="4"]::after {
  width: 80%;
}
[title="5"]::after {
  width: 100%;
}

.rating::after {
  padding:5px 0 5px 0  ;
  color: blue;
  content: '★★★★★';
  position: absolute;
  z-index: 1;
  display: block;
  left: 0;
  top:0;
  width: attr(rating);
  overflow: hidden;
}


#resultsSearchActivities {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#resultsSearchActivities > div {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4,1fr);
	margin-top: -15px;
}

.activity {
	box-sizing: border-box;
	height: 300px;
	background-color: white;
	box-shadow: 2px 5px 5px rgba(0,0,0,0.1); 
	border-radius: 15px;
	border : 6px white solid;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
}


.activity h3 {
	box-sizing: border-box;
	margin:auto;
	max-height: 30px;
	padding-left : 15px;
	white-space: nowrap;
	width: 100%;
}

.big{
	grid-row:1/3;
	height: 330px;
}

.col3{
	grid-column: 3;
}

.activity img{
    display: block;
	border-radius: 10px 10px 0  0;
	object-fit: cover;
	width:100%;
	height: calc(100% - 60px);
}

